<div>
<img src='http://www-scf.usc.edu/~ghasemig/images/sharif.png' alt="SUT logo" width=220 height=220 align=left class="saturate">

<br>
<font face="Times New Roman">
<div dir=ltr align=center> 
<!-- <font color=0F5298 size=7> -->
<font color=0F5298 size=6>
    Introduction to Machine Learning <br> <br>
<!-- <font color=2565AE size=5> -->
<font size=5>
    Computer Engineering Department <br>
    Spring 2023 <br> <br>
<font color=606060 size=5>
    Homework 2: Practical - LDA & QDA <br> <br>
<font color=686880 size=4>
    TAs: Arman Malekzadeh - Arshia Soltani Moakhar
    
____

### Full Name : Reza Soumi
### Student Number : 98105857
___

In [69]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.metrics import classification_report
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score

# Exploration (20 points)

In [70]:
!wget https://github.com/sharif-ml/sharif-ml.github.io/raw/main/assignments/dataset-train.csv

--2023-04-13 13:02:16--  https://github.com/sharif-ml/sharif-ml.github.io/raw/main/assignments/dataset-train.csv
Resolving github.com (github.com)... 20.27.177.113
Connecting to github.com (github.com)|20.27.177.113|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/sharif-ml/sharif-ml.github.io/main/assignments/dataset-train.csv [following]
--2023-04-13 13:02:17--  https://raw.githubusercontent.com/sharif-ml/sharif-ml.github.io/main/assignments/dataset-train.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 89401 (87K) [text/plain]
Saving to: ‘dataset-train.csv.1’

dataset-train.csv.1 100%[===================>]  87.31K  --.-KB/s    in 0.02s

2023-04-13 13:02:17 (5.02 MB/s) - ‘dataset-train.csv.1’ saved [89401/89401]

Load the dataset as a dataframe

In [73]:
df = pd.read_csv('dataset-train.csv')

print(df.head())

   Daily Time Spent on Site  Age  Area Income  Daily Internet Usage  \
0                     68.95   35     61833.90                256.09
1                     80.23   31     68441.85                193.77
2                     69.47   26     59785.94                236.50
3                     74.15   29     54806.18                245.89
4                     68.37   35     73889.99                225.58

                           Ad Topic Line            City     Country  \
0     Cloned 5thgeneration orchestration     Wrightburgh     Tunisia
1     Monitored national standardization       West Jodi       Nauru
2       Organic bottom-line service-desk        Davidton  San Marino
3  Triple-buffered reciprocal time-frame  West Terrifurt       Italy
4          Robust logistical utilization    South Manuel     Iceland

             Timestamp  Clicked on Ad  Gender
0  2016-03-27 00:53:11              0  female
1  2016-04-04 01:39:02              0    male
2  2016-03-13 20:35:42              0  female
3  2016-01-10 02:31:19              0    male
4  2016-06-03 03:36:18              0  female

Get the minimum "Area Income" for all Italians

In [74]:
min_area_income = df.loc[df['Country'] == 'Italy', 'Area Income'].min()
min_area_income

54286.1

Make a new dataframe called "sample_df" by sampling 100 rows from the previously made dataframe

In [75]:
sample_df = df.sample(n=100, random_state=42)
sample_df

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Country,Timestamp,Clicked on Ad,Gender
696,39.19,54,52581.16,173.05,Stand-alone empowering benchmark,Leahside,Guatemala,2016-01-23 21:15:57,1,female
667,79.61,31,58342.63,235.97,Customizable value-added project,Luisfurt,Monaco,2016-04-04 21:23:13,0,female
63,86.06,32,61601.05,178.92,Focused upward-trending core,North Leonmouth,Bulgaria,2016-03-31 20:55:22,0,male
533,91.43,39,46964.11,209.91,Organic motivating model,West Carmenfurt,French Polynesia,2016-07-07 03:55:01,0,male
66,63.89,40,51317.33,105.22,Synchronized user-facing core,Jensenborough,Rwanda,2016-01-08 00:17:27,1,female
...,...,...,...,...,...,...,...,...,...,...
608,62.06,40,63493.60,116.27,Digitized radical array,East Rachaelfurt,Jersey,2016-03-16 20:10:53,1,male
705,78.84,26,56593.80,217.66,Persistent even-keeled application,Shawnside,Italy,2016-06-29 07:20:46,0,male
754,76.87,36,72948.76,212.59,Down-sized bandwidth-monitored core,Mullenside,South Georgia and the South Sandwich Islands,2016-07-08 22:30:10,0,female
54,62.31,47,62722.57,119.30,Team-oriented encompassing portal,Amandahaven,Turkey,2016-02-14 07:36:58,1,female
750,61.82,59,57877.15,151.93,Open-architected needs-based customer loyalty,Olsonside,Barbados,2016-02-06 17:48:28,1,male

Compare all men and women aged less than 30 years in terms of their average "Daily Internet Usage". Your result should contain the average daily usage for each age and gender, seperately.

In [76]:
filtered_data = df[(df['Age'] < 30) & (df['Gender'].isin(['male', 'female']))]

avg_usage = filtered_data.groupby(['Gender', 'Age'])['Daily Internet Usage'].mean()

print(avg_usage)

Gender  Age
female  19     184.940000
        20     202.160000
        21     186.980000
        22     200.070000
        23     187.105714
        24     178.693333
        25     193.618571
        26     192.741875
        27     189.157692
        28     205.873333
        29     191.191200
male    19     189.523333
        20     198.982500
        21     212.815000
        22     188.837500
        23     184.615000
        24     200.055556
        25     206.527857
        26     203.916250
        27     205.916154
        28     196.416842
        29     202.005714
Name: Daily Internet Usage, dtype: float64

# Preprocessing (30 points)

Remove the following columns: "Ad Topic Line", "Timestamp"

In [77]:
data = df.drop(['Ad Topic Line', 'Timestamp'], axis=1)

print(data)

     Daily Time Spent on Site  Age  Area Income  Daily Internet Usage  \
0                       68.95   35     61833.90                256.09
1                       80.23   31     68441.85                193.77
2                       69.47   26     59785.94                236.50
3                       74.15   29     54806.18                245.89
4                       68.37   35     73889.99                225.58
..                        ...  ...          ...                   ...
795                     75.64   29     69718.19                204.82
796                     79.22   27     63429.18                198.79
797                     77.05   34     65756.36                236.08
798                     66.83   46     77871.75                196.17
799                     76.20   24     47258.59                228.81

                 City     Country  Clicked on Ad  Gender
0         Wrightburgh     Tunisia              0  female
1           West Jodi       Nauru              0    male
2            Davidton  San Marino              0  female
3      West Terrifurt       Italy              0    male
4        South Manuel     Iceland              0  female
..                ...         ...            ...     ...
795  West Rhondamouth        Iran              0    male
796       North Debra     Belgium              0    male
797    Villanuevastad     Namibia              0  female
798  North Jeremyport      Cyprus              0    male
799        Lake Susan       Japan              0    male

[800 rows x 8 columns]

Convert the "City" and "Country" columns to their one-hot encoded versions.
For each set of one-hot encoded columns, remove one of them to make the columns not correlated. Finally, remove the original columns named "City" and "Country".

In [78]:
df = pd.get_dummies(data, columns=["City", "Country"])

In [79]:
df = df.drop(columns=["City_Adamsbury", "Country_Uzbekistan"])
df

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Clicked on Ad,Gender,City_Alanview,City_Alexanderfurt,City_Alexanderview,City_Alexisland,...,Country_United States of America,Country_Uruguay,Country_Vanuatu,Country_Venezuela,Country_Vietnam,Country_Wallis and Futuna,Country_Western Sahara,Country_Yemen,Country_Zambia,Country_Zimbabwe
0,68.95,35,61833.90,256.09,0,female,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,80.23,31,68441.85,193.77,0,male,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,69.47,26,59785.94,236.50,0,female,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,74.15,29,54806.18,245.89,0,male,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,68.37,35,73889.99,225.58,0,female,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,75.64,29,69718.19,204.82,0,male,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
796,79.22,27,63429.18,198.79,0,male,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
797,77.05,34,65756.36,236.08,0,female,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
798,66.83,46,77871.75,196.17,0,male,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
799,76.20,24,47258.59,228.81,0,male,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Convert "Gender" column to a new binary column (having only 0 and 1 values). Then remove the original column.

In [80]:
df['Gender'] = df['Gender'].map({'male': 1, 'female': 0})

In [81]:
df

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Clicked on Ad,Gender,City_Alanview,City_Alexanderfurt,City_Alexanderview,City_Alexisland,...,Country_United States of America,Country_Uruguay,Country_Vanuatu,Country_Venezuela,Country_Vietnam,Country_Wallis and Futuna,Country_Western Sahara,Country_Yemen,Country_Zambia,Country_Zimbabwe
0,68.95,35,61833.90,256.09,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,80.23,31,68441.85,193.77,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,69.47,26,59785.94,236.50,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,74.15,29,54806.18,245.89,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,68.37,35,73889.99,225.58,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,75.64,29,69718.19,204.82,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
796,79.22,27,63429.18,198.79,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
797,77.05,34,65756.36,236.08,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
798,66.83,46,77871.75,196.17,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
799,76.20,24,47258.59,228.81,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [82]:
df = df.drop(columns=["Gender"])
df

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Clicked on Ad,City_Alanview,City_Alexanderfurt,City_Alexanderview,City_Alexisland,City_Aliciatown,...,Country_United States of America,Country_Uruguay,Country_Vanuatu,Country_Venezuela,Country_Vietnam,Country_Wallis and Futuna,Country_Western Sahara,Country_Yemen,Country_Zambia,Country_Zimbabwe
0,68.95,35,61833.90,256.09,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,80.23,31,68441.85,193.77,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,69.47,26,59785.94,236.50,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,74.15,29,54806.18,245.89,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,68.37,35,73889.99,225.58,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,75.64,29,69718.19,204.82,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
796,79.22,27,63429.18,198.79,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
797,77.05,34,65756.36,236.08,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
798,66.83,46,77871.75,196.17,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
799,76.20,24,47258.59,228.81,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

By dropping the "Clicked on Ad" column, make a new dataframe called "features_df"

In [83]:
features_df = df.drop(columns=["Clicked on Ad"])
features_df

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,City_Alanview,City_Alexanderfurt,City_Alexanderview,City_Alexisland,City_Aliciatown,City_Alvaradoport,...,Country_United States of America,Country_Uruguay,Country_Vanuatu,Country_Venezuela,Country_Vietnam,Country_Wallis and Futuna,Country_Western Sahara,Country_Yemen,Country_Zambia,Country_Zimbabwe
0,68.95,35,61833.90,256.09,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,80.23,31,68441.85,193.77,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,69.47,26,59785.94,236.50,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,74.15,29,54806.18,245.89,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,68.37,35,73889.99,225.58,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,75.64,29,69718.19,204.82,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
796,79.22,27,63429.18,198.79,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
797,77.05,34,65756.36,236.08,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
798,66.83,46,77871.75,196.17,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
799,76.20,24,47258.59,228.81,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [84]:
print(len(list(features_df.columns.values)))

1015

Make a new dataframe called "target_df" containing only the "Clicked on Ad" column

In [85]:
target_df = df[['Clicked on Ad']]
target_df

     Clicked on Ad
0                0
1                0
2                0
3                0
4                0
..             ...
795              0
796              0
797              0
798              0
799              0

[800 rows x 1 columns]

Make two numpy arrays called "x" and "y" from "features_df" and "target_df" dataframes, respectively.

In [86]:
x = features_df.to_numpy()
y = np.ravel(target_df.to_numpy())

# Training Models (40 points)

Split the dataset (`x` and `y`) into "training" and "testing" parts containing 80% and 20% of the data respectively.

In [87]:
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size=0.2)

Train both LDA and QDA models on the data using `sklearn`

In [93]:
lda = LinearDiscriminantAnalysis()
lda.fit(x_train, y_train)

LinearDiscriminantAnalysis()

In [92]:
qda = QuadraticDiscriminantAnalysis()
qda.fit(x_train, y_train)

/usr/local/lib/python3.9/dist-packages/sklearn/discriminant_analysis.py:926: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")

QuadraticDiscriminantAnalysis()

Train LDA and QDA using your own code!

Linear Discriminant Analysis

In [94]:
import numpy as np

class LinearDiscriminantAnalysis:
    """
    Fits it on data, then uses predict to get results.
    """

    def __init__(self):
        pass
    
    def fit(self, X, y):
        """Fit the training data with finding Sw and Sb
        Parameters
        ----------
        X : array-like, shape = [n_samples, n_features]
            Features
        y : array-like, shape = [n_samples, n_labels]
            Labels
        Returns
        -------
        self : object
        """

        n_samples, n_features = X.shape
        
        self.class_means = []
        for label in np.unique(y):
            self.class_means.append(np.mean(X[y == label], axis=0))
        self.class_means = np.array(self.class_means)
        
        self.Sw = np.zeros((n_features, n_features))
        for label in np.unique(y):
            class_scatter = np.zeros((n_features, n_features))
            for sample in X[y == label]:
                sample, mean = sample.reshape(n_features, 1), self.class_means[label].reshape(n_features, 1)
                class_scatter += (sample - mean).dot((sample - mean).T)
            self.Sw += class_scatter
        
        overall_mean = np.mean(X, axis=0)
        self.overall_mean = overall_mean
        self.Sb = np.zeros((n_features, n_features))
        for i, mean_vec in enumerate(self.class_means):
            n = X[y==i,:].shape[0]
            mean_vec = mean_vec.reshape(n_features, 1) # make column vector
            overall_mean = overall_mean.reshape(n_features, 1) # make column vector
            self.Sb += n * (mean_vec - overall_mean).dot((mean_vec - overall_mean).T)
        
        if np.linalg.det(self.Sw) == 0:
          self.Sw += 0.0001 * np.identity(self.Sw.shape[0])

        eig_vals, eig_vecs = np.linalg.eig(np.linalg.inv(self.Sw).dot(self.Sb))
        
        self.w = eig_vecs[:, np.argsort(eig_vals)[::-1][:len(np.unique(y)) - 1]]
        self.centroid = np.dot(self.class_means, self.w)

        return self
    
    def predict(self, X):
        """ Predicts the value after the model has been trained.
        Parameters
        ----------
        X : array-like, shape = [n_samples, n_features]
            Features
        Returns
        -------
        Predicted value
        """
        projection = np.dot(X, self.w)
        result = []
        for projected in projection:
            result.append(np.argmin([np.linalg.norm(projected-centroid) for centroid in self.centroid]))
        return result

Quadratic Discriminant Analysis (Optional) (15 bonus points)

In [96]:
class QuadraticDiscriminantAnalysis:
    """
    Fits it on data, then uses predict to get results.
    """

    def __init__(self):
        pass
    
    def fit(self, X, t):
        self.priors = dict()
        self.means = dict()
        self.covs = dict()
        
        self.classes = np.unique(t)
        
        def take_cov(row,mean):
            return (row.reshape(-1,1) - mean).dot((row.reshape(-1,1) - mean).T)
   
        for c in self.classes:
            X_c = X[t == c]
            self.priors[c] = X_c.shape[0] / X.shape[0]
            self.means[c] = np.mean(X_c, axis=0)
            self.covs[c] = np.cov(X_c, rowvar=False)
            if np.linalg.det(self.covs[c]) == 0:
                  self.covs[c] += 0.001 * np.identity(self.covs[c].shape[0])
            # self.covs[c] = (1./(X_c.shape[0] - len(self.classes))) * (sum([take_cov(row,self.means[c]) for row in X_c]))
      
    def predict(self, X):
        preds = list()
        for x in X:
            posts = list()
            for c in self.classes:
                prior = np.log(self.priors[c])
                inv_cov = np.linalg.inv(self.covs[c])
                inv_cov_det = np.linalg.det(inv_cov)
                #print(inv_cov_det)
                diff = x-self.means[c]
                likelihood = -0.5*diff.T @ inv_cov @ diff
                # + 0.5*np.log(inv_cov_det)
                post = prior + likelihood
                posts.append(post)
            pred = self.classes[np.argmax(posts)]
            preds.append(pred)
        return np.array(preds)

In [97]:
# Train your own models
my_lda = LinearDiscriminantAnalysis()
my_lda.fit(x_train, y_train)

my_qda = QuadraticDiscriminantAnalysis()
my_qda.fit(x_train, y_train)

# Evaluation (10 points)

Using all 4 models, predict the labels for all samples belonging to the "testing" part

In [99]:
y_pred_sklda = lda.predict(x_test)
y_pred_skqda = qda.predict(x_test)
y_pred_lda = my_lda.predict(x_test)
y_pred_qda = my_qda.predict(x_test)

/usr/local/lib/python3.9/dist-packages/numpy/linalg/linalg.py:2146: RuntimeWarning: overflow encountered in det
  r = _umath_linalg.det(a, signature=signature)

Calculate Accuracy, Recall, and F1-Scores

In [103]:
from sklearn.metrics import accuracy_score, recall_score, f1_score

print("skleanr evaluation: ")
# Calculate accuracy score
accuracy_sklda = accuracy_score(y_test, y_pred_sklda)
accuracy_skqda = accuracy_score(y_test, y_pred_skqda)
print("Accuracy sklearn LDA:", accuracy_sklda)
print("Accuracy sklearn QDA:", accuracy_skqda)

# Calculate recall score
recall_sklda = recall_score(y_test, y_pred_sklda)
recall_skqda = recall_score(y_test, y_pred_skqda)
print("Recall sklearn LDA:", recall_sklda)
print("Recall sklearn QDA:", recall_skqda)

# Calculate F1 score
f1_sklda = f1_score(y_test, y_pred_sklda)
f1_skqda = f1_score(y_test, y_pred_skqda)
print("F1-score sklearn LDA:", f1_sklda)
print("F1-score sklearn QDA:", f1_skqda)


print("\nmy model evaluation: ")
# Calculate accuracy score
accuracy_lda = accuracy_score(y_test, y_pred_lda)
accuracy_qda = accuracy_score(y_test, y_pred_qda)
print("Accuracy LDA:", accuracy_lda)
print("Accuracy QDA:", accuracy_qda)

# Calculate recall score
recall_lda = recall_score(y_test, y_pred_lda)
recall_qda = recall_score(y_test, y_pred_qda)
print("Recall LDA:", recall_lda)
print("Recall QDA:", recall_qda)

# Calculate F1 score
f1_lda = f1_score(y_test, y_pred_lda)
f1_qda = f1_score(y_test, y_pred_qda)
print("F1-score LDA:", f1_lda)
print("F1-score QDA:", f1_qda)

skleanr evaluation:
Accuracy sklearn LDA: 0.9
Accuracy sklearn QDA: 0.775
Recall sklearn LDA: 0.8395061728395061
Recall sklearn QDA: 0.9876543209876543
F1-score sklearn LDA: 0.8947368421052632
F1-score sklearn QDA: 0.8163265306122449

my model evaluation:
Accuracy LDA: 0.9375
Accuracy QDA: 0.7
Recall LDA: 0.9012345679012346
Recall QDA: 0.7901234567901234
F1-score LDA: 0.935897435897436
F1-score QDA: 0.7272727272727273

Compute the ROC AUC Score using `sklearn` (for both LDA and QDA models trained using this library)

In [104]:
from sklearn.metrics import roc_auc_score

print("sklearn evaluation:")
# calculate the ROC AUC score
roc_auc_sklda = roc_auc_score(y_test, y_pred_sklda)
roc_auc_skqda = roc_auc_score(y_test, y_pred_skqda)

# print the ROC AUC score
print(f"ROC AUC score sklearn LDA: {roc_auc_sklda:.3f}")
print(f"ROC AUC score sklearn QDA: {roc_auc_skqda:.3f}")

print("\nmy model evaluation:")
# calculate the ROC AUC score
roc_auc_lda = roc_auc_score(y_test, y_pred_lda)
roc_auc_qda = roc_auc_score(y_test, y_pred_qda)

# print the ROC AUC score
print(f"ROC AUC score sklearn LDA: {roc_auc_lda:.3f}")
print(f"ROC AUC score sklearn QDA: {roc_auc_qda:.3f}")

sklearn evaluation:
ROC AUC score sklearn LDA: 0.901
ROC AUC score sklearn QDA: 0.772

my model evaluation:
ROC AUC score sklearn LDA: 0.938
ROC AUC score sklearn QDA: 0.699

# Kaggle Competition

In [126]:
df = pd.read_csv('assignment2-test-data.csv')
data = df.drop(['Ad Topic Line', 'Timestamp', 'ID'], axis=1)
df = pd.get_dummies(data, columns=["City", "Country"])
# add missing columns in test data
missing_cols = set(features_df.columns.values) - set(df.columns.values)
print(len(missing_cols))
print(len(df.columns))
print(df.columns)
print(missing_cols)
#for c in missing_cols:
#    df[c] = 0
print(len(list(features_df.columns.values)))
df['Gender'] = df['Gender'].map({'male': 1, 'female': 0})
df = df.drop(columns=["Gender"])
x_test_kaggle = df.to_numpy()
#y_pred_lda_kaggle = my_lda.predict(x_test_kaggle)
#print(y_pred_lda_kaggle)

865
345
Index(['Daily Time Spent on Site', 'Age', 'Area Income',
       'Daily Internet Usage', 'Gender', 'City_Adamside', 'City_Adamsstad',
       'City_Alexandrafort', 'City_Alvarezland', 'City_Angelhaven',
       ...
       'Country_United States of America', 'Country_Uruguay',
       'Country_Uzbekistan', 'Country_Vanuatu', 'Country_Venezuela',
       'Country_Vietnam', 'Country_Wallis and Futuna',
       'Country_Western Sahara', 'Country_Yemen', 'Country_Zimbabwe'],
      dtype='object', length=345)
{'City_Lake Cynthia', 'City_West Leahton', 'City_Lake Joshuafurt', 'Country_Germany', 'City_Johnsonview', 'City_Robertsonburgh', 'Country_Pitcairn Islands', 'City_Destinyfurt', 'City_Pottermouth', 'City_Parkerhaven', 'City_West Justin', 'Country_India', 'City_New Williamville', 'City_Brownport', 'City_Lake Ian', 'City_West Angela', 'City_New Jeffreychester', 'City_Smithburgh', 'City_Hayesmouth', 'City_Lake Melindamouth', 'Country_Bouvet Island (Bouvetoya)', 'City_New Sharon', 'City_Port Chasemouth', 'City_Edwardmouth', 'City_Brandonstad', 'City_Port Aliciabury', 'City_Johnsonfort', 'City_Shawnside', 'City_West Dannyberg', 'City_East Theresashire', 'City_Brownview', 'City_Kimberlytown', 'City_West Jodi', 'Country_Kuwait', 'City_New Sonialand', 'City_Codyburgh', 'City_Rebeccamouth', 'Country_Jordan', 'City_Joanntown', 'City_South Corey', 'Country_Costa Rica', 'City_New Thomas', 'City_Cassandratown', 'City_New Keithburgh', 'City_East Brittanyville', 'City_South Davidmouth', 'City_Erinmouth', 'City_Bradshawborough', 'City_Richardsontown', 'City_Lauraburgh', 'City_Port Georgebury', 'Country_Gambia', 'City_Estradashire', 'City_Michelleside', 'City_Hobbsbury', 'City_Markhaven', 'City_Kingshire', 'City_Port Lawrence', 'City_Jamesville', 'City_New Maria', 'Country_Australia', 'City_Yangside', 'City_Taylorhaven', 'City_Sandersland', 'City_Lake Patrick', 'City_Shirleyfort', 'City_Curtisview', 'City_Port Brianfort', 'City_Lake Adrian', 'City_Davilachester', 'Country_Ukraine', 'City_New Amanda', 'City_East Timothyport', 'City_Josephmouth', 'City_Harperborough', 'City_New Wanda', 'City_Lopezmouth', 'City_Suzannetown', 'City_North Johntown', 'City_Bethburgh', 'City_East Donnatown', 'City_Sanchezmouth', 'City_Wrightview', 'City_Greerport', 'City_North Christopher', 'Country_Aruba', 'City_Joneston', 'City_North Russellborough', 'City_Frankbury', 'City_Jenniferstad', 'City_Richardsonland', 'City_New Tinamouth', 'City_Port Jessicamouth', 'Country_New Caledonia', 'City_Alexanderfurt', 'City_Millerbury', 'City_Harveyport', 'City_Meghanchester', 'City_North Shannon', 'City_Sellerstown', 'City_New Brendafurt', 'City_East Timothy', 'City_New Sheila', 'City_South Kyle', 'City_New Debbiestad', 'City_Crawfordfurt', 'Country_Sweden', 'City_Port Katelynview', 'City_East Jennifer', 'City_West Jeremyside', 'City_Brandonbury', 'City_Brendachester', 'City_New Kayla', 'City_Andersonton', 'Country_British Virgin Islands', 'City_East Tylershire', 'City_Reginamouth', 'City_Jensenton', 'City_New Karenberg', 'City_North Jessicaville', 'City_Hartmanchester', 'City_Port Jessica', 'City_Timothyport', 'City_North Randy', 'City_Hatfieldshire', 'City_Sandrashire', 'City_New Charleschester', 'City_North Monicaville', 'City_Brianabury', 'City_New Hollyberg', 'City_Brownton', 'City_Guzmanland', 'City_Tinaton', 'City_East Vincentstad', 'City_New Dawnland', 'City_Kevinberg', 'City_South Jade', 'City_Odomville', 'City_West Jane', 'City_Salazarbury', 'City_Blairville', 'City_Taylorberg', 'City_South Troy', 'City_Erikville', 'City_Jamesfurt', 'City_Lake Beckyburgh', 'City_North Ricardotown', 'City_Estradafurt', 'City_Florestown', 'City_West Thomas', 'City_Mataberg', 'City_Williammouth', 'City_Monicaview', 'Country_Guinea', 'City_Julietown', 'City_Paulshire', 'City_Sharpberg', 'City_Lopezberg', 'City_Pamelamouth', 'Country_Bhutan', 'City_Dustinborough', 'City_Masseyshire', 'City_Mollyport', 'Country_Suriname', 'City_Reyesfurt', 'City_South Cynthiashire', 'City_Jensenborough', 'City_South Peter', 'City_West Brandonton', 'City_Derrickhaven', 'City_South Johnnymouth', 'City_East Deborahhaven', 'City_Andrewmouth', 'City_Lake Kurtmouth', 'City_Masonhaven', 'City_Richardsland', 'City_West Colin', 'City_Port Maria', 'City_Alexisland', 'City_Isaacborough', 'Country_Falkland Islands (Malvinas)', 'City_Kevinchester', 'City_Port Stacey', 'City_Evansfurt', 'City_Port Brookeland', 'Country_Turks and Caicos Islands', 'City_Kristineberg', 'City_Curtisport', 'City_Turnerview', 'City_Andrewborough', 'City_Catherinefort', 'City_New Gabriel', 'City_North Isabellaville', 'Country_Finland', 'City_New Williammouth', 'City_Port Crystal', 'City_Ericksonmouth', 'City_South Denisefurt', 'City_West Michaelstad', 'City_Ashleychester', 'City_New Michaeltown', 'City_Port Susan', 'City_West Daleborough', 'City_Wrightburgh', 'City_Port Jodi', 'City_East Michaeltown', 'Country_Congo', 'City_New Angelview', 'City_Port Danielleberg', 'City_South Daniel', 'City_South Walter', 'City_Lake Amy', 'City_Newmanberg', 'City_Portermouth', 'City_Charlesbury', 'Country_Kyrgyz Republic', 'City_Hammondport', 'City_Wintersfort', 'Country_Libyan Arab Jamahiriya', 'Country_Reunion', 'City_Bradyfurt', 'Country_Christmas Island', 'City_Phillipsbury', 'City_Kristintown', 'City_New Lucasburgh', 'City_West Michaelshire', 'City_Chapmanmouth', 'Country_Norway', 'City_Jeffreyburgh', 'City_Benjaminchester', 'City_Aliciatown', 'City_Charlesport', 'City_West Raymondmouth', 'Country_Holy See (Vatican City State)', 'City_Chaseshire', 'Country_Cameroon', 'City_Port Erinberg', 'City_Paulport', 'City_Lake Jillville', 'City_North Kevinside', 'City_Carterton', 'City_Blevinstown', 'City_North Regina', 'City_Meyerchester', 'City_Jessicastad', 'City_Tammyshire', 'City_Dianashire', 'City_Port Eric', 'City_Port Patrickton', 'City_North Anna', 'City_Calebberg', 'City_Lake Josetown', 'City_West Wendyland', 'City_Lake Cassandraport', 'City_North Mercedes', 'City_Garciaview', 'City_Melissafurt', 'City_Penatown', 'City_Clineshire', 'Country_Belize', 'City_Amandafort', 'Country_United Kingdom', 'City_Leahside', 'City_Charlenetown', 'City_Hannaport', 'City_Rochabury', 'City_Karenton', 'City_West Joseph', 'City_Elizabethbury', 'City_Colebury', 'City_Heatherberg', 'Country_Guernsey', 'City_North Kristine', 'City_South Meredithmouth', 'City_Mackenziemouth', 'Country_Sao Tome and Principe', 'City_South Manuel', 'City_Teresahaven', 'City_Garciaside', 'City_Josephstad', 'City_Shaneland', 'Country_Myanmar', 'City_Frankchester', 'City_Meyersstad', 'City_Browntown', 'City_Lovemouth', 'City_North Brittanyburgh', 'City_Rivasland', 'City_Vanessaview', 'City_South Jasminebury', 'Country_Estonia', 'City_North Wesleychester', 'City_West Sharon', 'City_Brendaburgh', 'City_New Tyler', 'City_Troyville', 'City_West Carmenfurt', 'Country_French Southern Territories', 'City_West Michaelhaven', 'City_Munozberg', 'City_New Brandy', 'City_North Anaport', 'City_Kennethview', 'City_Lake Dustin', 'City_Port Davidland', 'City_Lake Elizabethside', 'City_Westshire', 'City_East Brianberg', 'City_New Christinatown', 'City_Richardsonmouth', 'City_Williamsborough', 'Country_Portugal', 'City_East Ericport', 'City_Tranland', 'City_Port Stacy', 'City_Silvaton', 'City_Wendyton', 'Country_Nauru', 'City_West Samantha', 'City_West Dylanberg', 'City_Wilsonburgh', 'City_Lake David', 'City_Welchshire', 'City_East Barbara', 'City_Gomezport', 'City_East Sharon', 'City_Sanchezland', 'City_Contrerasshire', 'City_Jessicahaven', 'City_West Kevinfurt', 'City_Stewartbury', 'Country_Qatar', 'Country_Cook Islands', 'City_West Connor', 'City_Davidside', 'City_Stephenborough', 'City_Turnerville', 'City_West Aprilport', 'City_West Travismouth', 'City_West Courtney', 'City_Whitneyfort', 'City_South Jackieberg', 'Country_Bangladesh', 'City_Brianfurt', 'City_Jacksonmouth', 'City_New Paul', 'City_Erinton', 'Country_Niue', 'City_Garciamouth', 'City_Keithtown', 'City_East Lindsey', 'City_Hubbardmouth', 'City_Pruittmouth', 'City_Alanview', 'City_Millerfort', 'Country_Gibraltar', 'City_Ramirezhaven', 'Country_Cape Verde', 'City_Millerside', 'City_Andersonfurt', 'City_Ingramberg', 'City_South Adam', 'City_East Carlos', 'City_Laurieside', 'City_Princebury', 'City_West Alice', 'City_Sanderstown', 'City_Port Brian', 'City_Rogerland', 'City_Morrismouth', 'City_Jamieberg', 'City_East Ronald', 'City_Grahamberg', 'City_West Shaun', 'City_Nelsonfurt', 'City_New Rachel', 'City_Joechester', 'City_Sandraland', 'City_Perryburgh', 'City_Port Blake', 'City_Mezaton', 'City_Boyerberg', 'City_North Joshua', 'Country_Namibia', 'City_Reyesland', 'City_South Meghan', 'Country_Tanzania', 'Country_Djibouti', 'City_Amyhaven', 'City_Lake Johnbury', 'City_Davidton', 'City_Janiceview', 'City_Port Jacqueline', 'City_Bruceburgh', 'City_Lake Jesus', 'City_Lake Gerald', 'City_Alexanderview', 'City_Lake Courtney', 'City_Morganport', 'City_Brownbury', 'City_Yuton', 'City_Wilcoxport', 'City_Lake Jacqueline', 'Country_Saudi Arabia', 'City_Haleberg', 'City_Knappburgh', 'City_Pattymouth', 'City_Port Sherrystad', 'City_Port Christopherborough', 'City_South Daniellefort', 'City_East Rachelview', 'Country_Benin', 'City_West Terrifurt', 'Country_Monaco', 'City_West Jessicahaven', 'City_New Travistown', 'City_South Patrickfort', 'City_West Shannon', 'Country_Liechtenstein', 'City_New Timothy', 'City_West Tanya', 'City_Garnerberg', 'City_Townsendfurt', 'City_North Aaronchester', 'City_Christinetown', 'City_West Ericaport', 'City_Ramirezland', 'City_Bakerhaven', 'City_New Tammy', 'City_Port Jasmine', 'City_Samanthaland', 'City_West Zacharyborough', 'City_Johnport', 'City_Lake Kevin', 'City_South Aaron', 'City_Hendrixmouth', 'City_Port Mathew', "Country_Cote d'Ivoire", 'City_East Eric', 'City_South Jaimeview', 'City_East Rachaelfurt', 'City_South Dianeshire', 'City_Port Daniel', 'City_East Shawnchester', 'City_Coxhaven', 'City_Ramirezton', 'Country_Kiribati', 'City_Port Eugeneport', 'City_Lake Hailey', 'City_West Russell', 'City_Jacksonburgh', 'Country_Samoa', 'City_North Andrewstad', 'City_Burgessside', 'City_Frankport', 'City_Lake Annashire', 'City_New Henry', 'City_New Jasmine', 'City_Villanuevaton', 'City_North April', 'City_Sylviaview', 'City_East Kevinbury', 'City_Jeffreyshire', 'City_Lesliebury', 'Country_Puerto Rico', 'City_Colemanshire', 'City_West Ricardo', 'City_Amandaland', 'City_Jessicashire', 'City_Port Christopher', 'City_Zacharystad', 'City_South Ronald', 'City_South Stephanieport', 'Country_Russian Federation', 'City_Youngburgh', 'City_Katieport', 'City_Kentmouth', 'City_New Jamestown', 'City_East Michaelmouth', 'Country_China', 'City_East Graceland', 'City_New Shane', 'City_Nicholasport', 'City_South Jennifer', 'City_Turnerchester', 'City_Walshhaven', 'City_Villanuevastad', 'City_West Barbara', 'Country_Guam', 'City_East Paul', 'City_West Lucas', 'City_Carterport', 'Country_Tajikistan', 'City_Brianland', 'City_Danielview', 'City_Jonathantown', 'City_Luisfurt', 'City_Debraburgh', 'City_Leonchester', 'City_Tinachester', 'City_Elizabethmouth', 'City_East Susanland', 'Country_Thailand', 'City_Anthonyfurt', 'City_East Stephen', 'Country_Morocco', 'City_Jordanmouth', 'City_Lukeport', 'City_Port Gregory', 'City_East Michelleberg', 'City_Novaktown', 'City_Jacksonstad', 'City_Jenniferhaven', 'City_Emilyfurt', 'City_Rogerburgh', 'City_West Melaniefurt', 'City_Sandraville', 'City_Port Paultown', 'City_West Julia', 'City_North Richardburgh', 'Country_Martinique', 'City_Timothymouth', 'Country_Israel', 'City_Hernandezside', 'City_Jordanshire', 'City_Kyleborough', 'Country_Serbia', 'City_Williamsside', 'City_Amyfurt', 'City_Port Elijah', 'City_North Andrew', 'City_East John', 'City_Klineside', 'City_Port Brenda', 'City_Port Erikhaven', 'City_South Brian', 'City_Ramosstad', 'City_South Tiffanyton', 'City_Sarahton', 'City_Hallfort', 'City_West Richard', 'City_Robinsonland', 'City_Port Cassie', 'City_West Guybury', 'City_Kennedyfurt', 'City_Ianmouth', 'City_Jamesberg', 'City_Youngfort', 'City_Lake Jessica', 'City_New Steve', 'City_South Robert', 'City_Christopherchester', 'City_Hernandezfort', 'City_Kylieview', 'City_New Denisebury', 'City_Combsstad', 'Country_Slovenia', 'City_New Michael', 'Country_Zambia', 'City_East Tiffanyport', 'City_West Pamela', 'City_West Lisa', 'City_Port Angelamouth', 'City_Lisafort', 'City_Rhondaborough', 'City_Harrisonmouth', 'City_Coffeytown', 'City_North Maryland', 'City_Luischester', 'City_North Sarashire', 'City_Bradleyside', 'City_Bernardton', 'City_Gravesport', 'City_Christinehaven', 'Country_Papua New Guinea', 'City_Port Destiny', 'City_Lake Timothy', 'City_Greerton', 'Country_French Guiana', 'City_Lake Jennifer', 'City_New Joshuaport', 'City_New Rebecca', 'City_Hessstad', 'City_Richardsonshire', 'City_Timothyfurt', 'City_West Alyssa', 'City_Johnstonmouth', 'Country_Seychelles', 'City_Hamiltonfort', 'City_West Angelabury', 'City_Johnstad', 'City_Christopherville', 'City_Lake Christopherfurt', 'City_Morganfort', 'City_Jacobstad', 'City_North Stephanieberg', 'City_Johnsport', 'City_New Tina', 'City_West Christopher', 'City_New Traceystad', 'City_Gilbertville', 'City_Hurleyborough', 'City_North Lisachester', 'City_New Johnberg', 'City_West Katiefurt', 'City_New Nancy', 'City_Port Christinemouth', 'City_South Lauratown', 'City_North Jeremyport', 'City_East Michaelland', 'City_Jonesland', 'City_Jordantown', 'City_East Heidi', 'City_Phelpschester', 'City_Thomasstad', 'City_North Michael', 'City_Michaelland', 'City_Lake Jonathanview', 'City_West Brad', 'City_Port Michealburgh', 'Country_Montserrat', 'City_Loriville', 'City_Wongland', 'City_Perezland', 'City_North Tara', 'City_East Brettton', 'City_North Loriburgh', 'City_Cynthiaside', 'City_New Jessicaport', 'City_Lake Allenville', 'City_South Lisa', 'City_Hartport', 'City_Matthewtown', 'City_Jamesmouth', 'City_North Garyhaven', 'City_Pearsonfort', 'City_Lake Angela', 'City_North Lauraland', 'City_East Maureen', 'City_Dayton', 'City_Donaldshire', 'City_Lake Nicole', 'City_West Tinashire', 'City_Kingchester', 'City_Millerchester', 'City_South Blakestad', 'City_Brittanyborough', 'City_Hansenmouth', 'City_Lewismouth', 'City_Ryanhaven', 'City_East Connie', 'City_Karenmouth', 'City_New Sabrina', 'City_Christopherport', 'City_Helenborough', 'City_Mariebury', 'City_North Angelastad', 'City_East Michele', 'City_New Theresa', 'City_East Christopherbury', 'City_South Margaret', 'City_Carsonshire', 'City_Costaburgh', 'City_Port Calvintown', 'City_Robertbury', 'City_Cranemouth', 'Country_Tuvalu', 'City_South Cathyfurt', 'City_Dustinmouth', 'City_Lake Brandonview', 'City_Mcdonaldfort', 'City_Melissachester', 'City_Mosleyburgh', 'City_West Lindseybury', 'Country_Romania', 'City_North Aaronburgh', 'Country_Sierra Leone', 'City_New Daniellefort', 'City_Lake Jacob', 'Country_Kenya', 'City_Patriciahaven', 'City_South Alexisborough', 'City_East Aaron', 'City_Lake Craigview', 'City_North Tracyport', 'City_Port Melissastad', 'Country_Antarctica (the territory South of 60 deg S)', 'City_Lake Matthewland', 'City_West Melissashire', 'City_Whiteport', 'City_West William', 'City_East Debraborough', 'City_New Jay', 'City_Lake Edward', 'Country_Belgium', 'City_Hughesport', 'City_Brandymouth', 'Country_Saint Kitts and Nevis', 'City_Port Anthony', 'City_Haleview', 'Country_Azerbaijan', 'City_South Tomside', 'Country_Antigua and Barbuda', 'City_Michellefort', 'City_North Johnside', 'Country_South Georgia and the South Sandwich Islands', 'City_Micheletown', 'City_Port Jeffrey', 'City_East Toddfort', 'City_East Donna', 'City_Elizabethstad', 'City_Olsonstad', 'City_West Eduardotown', 'City_Hannahside', 'City_Tracyhaven', 'Country_Mauritania', 'City_North Leonmouth', 'City_Jamiefort', 'City_Hernandezville', 'City_Johnstonshire', 'City_Juliaport', 'City_South Renee', 'City_Lake Stephenborough', 'City_Jacquelineshire', 'City_Michaelmouth', 'City_Port Sarahhaven', 'City_Port Whitneyhaven', 'Country_Saint Helena', 'City_Douglasview', 'City_Jeremyshire', 'City_North Kimberly', 'City_West Michaelport', 'City_Petersonfurt', 'Country_United States Minor Outlying Islands', 'City_Palmerside', 'City_Lake Michael', 'City_Millerland', 'City_Bowenview', 'City_New Patriciashire', 'City_Andersonchester', 'Country_British Indian Ocean Territory (Chagos Archipelago)', 'Country_Honduras', 'City_Garciatown', 'Country_Faroe Islands', 'City_Carterburgh', 'City_Davisfurt', 'City_Bradleyburgh', 'City_West Robertside', 'City_Lawrenceborough', 'City_East Yvonnechester', 'City_Russellville', 'Country_Dominica', 'City_North Elizabeth', 'City_East Jessefort', 'City_Reneechester', 'City_West Brenda', 'City_Port Mitchell', 'City_Timothytown', 'City_West Rhondamouth', 'City_East Anthony', 'City_East Heatherside', 'Country_Argentina', 'City_East Breannafurt', 'City_West Mariafort', 'City_North Mark', 'City_Barbershire', 'City_North Tylerland', 'City_Lindaside', 'City_New Lindaberg', 'City_Olsonside', 'City_Greghaven', 'City_West Casey', 'City_Jayville', 'City_East Dana', 'City_East Tammie', 'City_Greenechester', 'City_Paulhaven', 'City_Lisaberg', 'City_Smithtown', 'City_East Samanthashire', 'City_Lake Charlottestad', 'City_Hollandberg', 'City_Hollyfurt', 'City_Johnsontown', 'City_Lake Jasonchester', 'City_Port Jefferybury', 'City_Robertside', 'Country_Burkina Faso', 'City_Ramirezside', 'City_Amandahaven', 'City_Port Kathleenfort', 'Country_Mauritius', 'City_Greentown', 'City_Port Juan', 'Country_Guinea-Bissau', 'City_Williamstad', 'City_New Juan', 'City_West Roytown', 'City_Jasminefort', 'Country_Hungary', 'City_East Sheriville', 'City_Port Brittanyville', 'City_East Henry', 'City_East Georgeside', 'City_Murphymouth', 'City_Port James', 'City_Robertmouth', 'City_Roberttown', 'City_Sherrishire', 'City_Butlerfort', 'City_Mullenside', 'City_Kimberlyhaven', 'City_Millertown', 'City_Port Robin', 'City_South Adamhaven', 'City_Watsonfort', 'City_Shawstad', 'City_Marcushaven', 'City_Kellytown', 'City_Kimberlymouth', 'City_South George', 'City_Lake Brian', 'City_Rachelhaven', 'City_Wallacechester', 'Country_Panama', 'City_Taylorport', 'City_Cannonbury', 'City_Faithview', 'City_Meaganfort', 'City_Lake Deborahburgh', 'City_West Chloeborough', 'City_Dustinchester', 'City_Jeremybury', 'City_South John', 'City_Davidmouth', 'City_Garychester', 'City_Port Melissaberg', 'City_West Ryan', 'City_Lake Conniefurt', 'City_Lesliefort', 'City_Thomasview', 'City_Ronaldport', 'City_Williamsmouth', 'Country_French Polynesia', 'City_North Alexandra', 'City_Charlottefort', 'City_South Vincentchester', 'City_Austinland', 'City_North Ronaldshire', 'City_Port Sarahshire', 'City_Birdshire', 'City_South Lauraton', 'City_Samuelborough', 'City_Estesfurt', 'City_Harrishaven', 'City_Alvaradoport', 'City_Staceyfort', 'City_East Valerie', 'City_North Debra', 'Country_Bolivia', 'City_Lake Susan', 'City_Bradleyborough', 'City_New Matthew', 'City_West Ericfurt', 'Country_Trinidad and Tobago'}
1015

Link: https://www.kaggle.com/t/988b0aa2db2446fd85cff571d69c6386